HyperMTG/Service References/DraftSVC/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DraftService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDraft_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="72010000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HyperService.Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDraft_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IDraft_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_SetMaxPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMaxPlayers" />
  </wsdl:message>
  <wsdl:message name="IDraft_SendMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:message name="IDraft_StartDraft_InputMessage">
    <wsdl:part name="parameters" element="tns:StartDraft" />
  </wsdl:message>
  <wsdl:message name="IDraft_SwitchPack_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchPack" />
  </wsdl:message>
  <wsdl:message name="IDraft_EndDraft_InputMessage">
    <wsdl:part name="parameters" element="tns:EndDraft" />
  </wsdl:message>
  <wsdl:message name="IDraft_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IDraft_RefreshMaxPlayers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshMaxPlayers" />
  </wsdl:message>
  <wsdl:message name="IDraft_RefreshClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshClients" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnConnect_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnConnect" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnReceive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnReceive" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnJoin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnJoin" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLeave" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnPick_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPick" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnWait_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnWait" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnSwitchPack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSwitchPack" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnOpenBooster_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnOpenBooster" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnStartDraft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnStartDraft" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnEndDraft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnEndDraft" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDraft">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/Connect" message="tns:IDraft_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/ConnectResponse" message="tns:IDraft_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetMaxPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/SetMaxPlayers" message="tns:IDraft_SetMaxPlayers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/SendMsg" message="tns:IDraft_SendMsg_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartDraft">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/StartDraft" message="tns:IDraft_StartDraft_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SwitchPack">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/SwitchPack" message="tns:IDraft_SwitchPack_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EndDraft">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/EndDraft" message="tns:IDraft_EndDraft_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/Disconnect" message="tns:IDraft_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RefreshMaxPlayers">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/RefreshMaxPlayers" message="tns:IDraft_RefreshMaxPlayers_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RefreshClients">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/RefreshClients" message="tns:IDraft_RefreshClients_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnConnect">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnConnect" message="tns:IDraft_OnConnect_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnReceive">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnReceive" message="tns:IDraft_OnReceive_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnJoin">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnJoin" message="tns:IDraft_OnJoin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnLeave" message="tns:IDraft_OnLeave_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnPick">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnPick" message="tns:IDraft_OnPick_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnWait">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnWait" message="tns:IDraft_OnWait_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnSwitchPack">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnSwitchPack" message="tns:IDraft_OnSwitchPack_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnOpenBooster">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnOpenBooster" message="tns:IDraft_OnOpenBooster_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnStartDraft">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnStartDraft" message="tns:IDraft_OnStartDraft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnEndDraft">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnEndDraft" message="tns:IDraft_OnEndDraft_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDraft" type="tns:IDraft">
    <wsp:PolicyReference URI="#NetTcpBinding_IDraft_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IDraft/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMaxPlayers">
      <soap12:operation soapAction="http://tempuri.org/IDraft/SetMaxPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <soap12:operation soapAction="http://tempuri.org/IDraft/SendMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartDraft">
      <soap12:operation soapAction="http://tempuri.org/IDraft/StartDraft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SwitchPack">
      <soap12:operation soapAction="http://tempuri.org/IDraft/SwitchPack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EndDraft">
      <soap12:operation soapAction="http://tempuri.org/IDraft/EndDraft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IDraft/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RefreshMaxPlayers">
      <soap12:operation soapAction="http://tempuri.org/IDraft/RefreshMaxPlayers" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshClients">
      <soap12:operation soapAction="http://tempuri.org/IDraft/RefreshClients" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnConnect">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnConnect" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnReceive">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnReceive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnJoin">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnJoin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLeave">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPick">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnPick" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnWait">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnWait" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSwitchPack">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnSwitchPack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnOpenBooster">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnOpenBooster" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnStartDraft">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnStartDraft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnEndDraft">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnEndDraft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DraftService">
    <wsdl:port name="NetTcpBinding_IDraft" binding="tns:NetTcpBinding_IDraft">
      <soap12:address location="net.tcp://localhost:5933/HyperService/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5933/HyperService/tcp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>