HyperMTG/Service References/DraftSVC/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DraftService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDraft_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="72010000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HyperService.Draft" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDraft_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IDraft_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_SendMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:message name="IDraft_StartDraft_InputMessage">
    <wsdl:part name="parameters" element="tns:StartDraft" />
  </wsdl:message>
  <wsdl:message name="IDraft_StartDraft_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartDraftResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_SwitchPack_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchPack" />
  </wsdl:message>
  <wsdl:message name="IDraft_SwitchPack_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchPackResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_EndDraft_InputMessage">
    <wsdl:part name="parameters" element="tns:EndDraft" />
  </wsdl:message>
  <wsdl:message name="IDraft_EndDraft_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndDraftResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IDraft_RefreshClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshClients" />
  </wsdl:message>
  <wsdl:message name="IDraft_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserJoin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserJoin" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserLeave" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserPick_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserPick" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserPick_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserPickResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserWait_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserWait" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserWait_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserWaitResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserSwitchPack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserSwitchPack" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserSwitchPack_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserSwitchPackResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserOpenBooster_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserOpenBooster" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserOpenBooster_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserOpenBoosterResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserStartDraft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserStartDraft" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserStartDraft_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserStartDraftResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_UserEndDraft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserEndDraft" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDraft">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/Connect" message="tns:IDraft_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/ConnectResponse" message="tns:IDraft_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/SendMsg" message="tns:IDraft_SendMsg_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartDraft">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/StartDraft" message="tns:IDraft_StartDraft_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/StartDraftResponse" message="tns:IDraft_StartDraft_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SwitchPack">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/SwitchPack" message="tns:IDraft_SwitchPack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/SwitchPackResponse" message="tns:IDraft_SwitchPack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EndDraft">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/EndDraft" message="tns:IDraft_EndDraft_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/EndDraftResponse" message="tns:IDraft_EndDraft_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/Disconnect" message="tns:IDraft_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RefreshClients">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/RefreshClients" message="tns:IDraft_RefreshClients_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/Receive" message="tns:IDraft_Receive_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserJoin">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/UserJoin" message="tns:IDraft_UserJoin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/UserLeave" message="tns:IDraft_UserLeave_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserPick">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/UserPick" message="tns:IDraft_UserPick_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/UserPickResponse" message="tns:IDraft_UserPick_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserWait">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/UserWait" message="tns:IDraft_UserWait_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/UserWaitResponse" message="tns:IDraft_UserWait_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserSwitchPack">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/UserSwitchPack" message="tns:IDraft_UserSwitchPack_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/UserSwitchPackResponse" message="tns:IDraft_UserSwitchPack_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserOpenBooster">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/UserOpenBooster" message="tns:IDraft_UserOpenBooster_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/UserOpenBoosterResponse" message="tns:IDraft_UserOpenBooster_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserStartDraft">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/UserStartDraft" message="tns:IDraft_UserStartDraft_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/UserStartDraftResponse" message="tns:IDraft_UserStartDraft_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserEndDraft">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/UserEndDraft" message="tns:IDraft_UserEndDraft_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDraft" type="tns:IDraft">
    <wsp:PolicyReference URI="#NetTcpBinding_IDraft_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IDraft/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <soap12:operation soapAction="http://tempuri.org/IDraft/SendMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartDraft">
      <soap12:operation soapAction="http://tempuri.org/IDraft/StartDraft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SwitchPack">
      <soap12:operation soapAction="http://tempuri.org/IDraft/SwitchPack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndDraft">
      <soap12:operation soapAction="http://tempuri.org/IDraft/EndDraft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IDraft/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RefreshClients">
      <soap12:operation soapAction="http://tempuri.org/IDraft/RefreshClients" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/IDraft/Receive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserJoin">
      <soap12:operation soapAction="http://tempuri.org/IDraft/UserJoin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLeave">
      <soap12:operation soapAction="http://tempuri.org/IDraft/UserLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserPick">
      <soap12:operation soapAction="http://tempuri.org/IDraft/UserPick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserWait">
      <soap12:operation soapAction="http://tempuri.org/IDraft/UserWait" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSwitchPack">
      <soap12:operation soapAction="http://tempuri.org/IDraft/UserSwitchPack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserOpenBooster">
      <soap12:operation soapAction="http://tempuri.org/IDraft/UserOpenBooster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserStartDraft">
      <soap12:operation soapAction="http://tempuri.org/IDraft/UserStartDraft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserEndDraft">
      <soap12:operation soapAction="http://tempuri.org/IDraft/UserEndDraft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DraftService">
    <wsdl:port name="NetTcpBinding_IDraft" binding="tns:NetTcpBinding_IDraft">
      <soap12:address location="net.tcp://localhost:7997/HyperService.Draft/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7997/HyperService.Draft/tcp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>