HyperMTGMain/Service References/DraftSR/HyperServer.Draft.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HyperServer.Draft" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HyperServer.Draft" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HyperServer.Common" />
  <xs:complexType name="DraftPlayer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HyperServer.Common" base="q1:Client">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HandList" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="IsReady" type="xs:boolean" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PoolList" nillable="true" type="q3:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DraftPlayer" nillable="true" type="tns:DraftPlayer" />
  <xs:complexType name="ArrayOfDraftPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DraftPlayer" nillable="true" type="tns:DraftPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDraftPlayer" nillable="true" type="tns:ArrayOfDraftPlayer" />
</xs:schema>