HyperMTGMain/Service References/DraftSR/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DraftService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDraft_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="72010000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HyperServer.Draft" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HyperServer.Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDraft_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IDraft_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDraft_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IDraft_HostGame_InputMessage">
    <wsdl:part name="parameters" element="tns:HostGame" />
  </wsdl:message>
  <wsdl:message name="IDraft_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IDraft_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IDraft_Ready_InputMessage">
    <wsdl:part name="parameters" element="tns:Ready" />
  </wsdl:message>
  <wsdl:message name="IDraft_End_InputMessage">
    <wsdl:part name="parameters" element="tns:End" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnConnect_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnConnect" />
  </wsdl:message>
  <wsdl:message name="IDraft_RefreshGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshGame" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnJoin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnJoin" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLeave" />
  </wsdl:message>
  <wsdl:message name="IDraft_RefreshClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshClients" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnStart" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessage" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnReady" />
  </wsdl:message>
  <wsdl:message name="IDraft_OnEnd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnEnd" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDraft">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/Connect" message="tns:IDraft_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/ConnectResponse" message="tns:IDraft_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/Disconnect" message="tns:IDraft_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="HostGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/HostGame" message="tns:IDraft_HostGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/Start" message="tns:IDraft_Start_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/SendMessage" message="tns:IDraft_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Ready">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/Ready" message="tns:IDraft_Ready_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="End">
      <wsdl:input wsaw:Action="http://tempuri.org/IDraft/End" message="tns:IDraft_End_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnConnect">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnConnect" message="tns:IDraft_OnConnect_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RefreshGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/RefreshGame" message="tns:IDraft_RefreshGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnJoin">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnJoin" message="tns:IDraft_OnJoin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnLeave" message="tns:IDraft_OnLeave_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RefreshClients">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/RefreshClients" message="tns:IDraft_RefreshClients_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnStart">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnStart" message="tns:IDraft_OnStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnMessage" message="tns:IDraft_OnMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnReady">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnReady" message="tns:IDraft_OnReady_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnEnd">
      <wsdl:output wsaw:Action="http://tempuri.org/IDraft/OnEnd" message="tns:IDraft_OnEnd_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDraft" type="tns:IDraft">
    <wsp:PolicyReference URI="#NetTcpBinding_IDraft_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IDraft/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IDraft/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="HostGame">
      <soap12:operation soapAction="http://tempuri.org/IDraft/HostGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IDraft/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IDraft/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Ready">
      <soap12:operation soapAction="http://tempuri.org/IDraft/Ready" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="End">
      <soap12:operation soapAction="http://tempuri.org/IDraft/End" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnConnect">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnConnect" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshGame">
      <soap12:operation soapAction="http://tempuri.org/IDraft/RefreshGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnJoin">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnJoin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLeave">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshClients">
      <soap12:operation soapAction="http://tempuri.org/IDraft/RefreshClients" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnStart">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnStart" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMessage">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnReady">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnReady" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnEnd">
      <soap12:operation soapAction="http://tempuri.org/IDraft/OnEnd" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DraftService">
    <wsdl:port name="NetTcpBinding_IDraft" binding="tns:NetTcpBinding_IDraft">
      <soap12:address location="net.tcp://localhost:5933/HyperServer/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5933/HyperServer/tcp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>