HyperMTGMain/Service References/DraftSR/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HyperServer.Draft" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HyperServer.Common" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HyperServer.Draft" minOccurs="0" name="client" nillable="true" type="q1:DraftPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HyperServer.Draft" minOccurs="0" name="client" nillable="true" type="q2:DraftPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HostGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxPlayers" type="xs:int" />
        <xs:element minOccurs="0" name="timeLimit" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="setCodes" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HyperServer.Common" minOccurs="0" name="msg" nillable="true" type="q4:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ready">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HyperServer.Draft" minOccurs="0" name="player" nillable="true" type="q5:DraftPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HyperServer.Draft" minOccurs="0" name="player" nillable="true" type="q6:DraftPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="End">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HyperServer.Common" minOccurs="0" name="result" type="q7:ConnectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxPlayers" type="xs:int" />
        <xs:element minOccurs="0" name="timeLimit" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="setCodes" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnJoin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HyperServer.Draft" minOccurs="0" name="client" nillable="true" type="q9:DraftPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnLeave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HyperServer.Draft" minOccurs="0" name="client" nillable="true" type="q10:DraftPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HyperServer.Draft" minOccurs="0" name="clients" nillable="true" type="q11:ArrayOfDraftPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnOpenBooster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnReceivePack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cardIDs" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HyperServer.Common" minOccurs="0" name="msg" nillable="true" type="q13:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HyperServer.Draft" minOccurs="0" name="player" nillable="true" type="q14:DraftPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>